*{
    font-family: 'Open Sans', sans-serif;
    
}

.container{
  
     display: flex;                     
     flex-direction: column;
     width: 50%;
    background-color: rgb(245, 245, 245);   
    justify-content: center; 
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px;
    }

h1{
    color: rgb(71, 125, 207);
    text-align: center;
}
input{
    border: 1px solid rgb(16, 90, 133);
}

